@breakpoint: 50em;

.home-page {

  #contents {
    clear: left;
  }

  // intro paragraph
  .intro {
    font-size  : x-large;
    font-family: var(--font-heading);
  }

  .subtitle {
    font-family: var(--font-heading);
    font-size  : x-large;
    text-align : center;
  }

  .textile {

    margin         : auto;
    max-inline-size: 50%;
    padding        : 1em;

    figcaption {
      display       : flex;
      flex-direction: column;
      text-align    : center;
    }

    span {
      font-style: italic;
      padding   : var(--text-padding);
    }

  }

  @media (min-width: @breakpoint) {

    .goals {
      transform: translateX(1.5em);
    }

    // heading
    #introduction {
      text-align: center;
    }

    .textile {
      float            : left;
      margin-inline-end: 1em;
    }

  }

}
