:root {

  --font:
    'Libertinus',
    'Libertinus Serif',
    'Linux Libertine',
    'Gentium Plus',
    'Charis SIL',
    'Doulos SIL',
    'Source Serif Pro',
    'Noto Serif',
    'Times New Roman',
    serif;

  --font-heading:
    'Libertinus Display',
    'Libertinus Serif Display',
    var(--font);

  --measure: 60em;

}
