<!DOCTYPE html>
<html lang=en>
<head>

  <!-- metadata -->
  <meta charset=utf-8>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
  <title>Nisinoon</title>
  <meta name='author' content='Monica A. Macaulay, Hunter T. Lockwood, & Daniel W. Hieber'>
  <meta name=description content='{{ pkg.description }}'>
  <meta name='rating' content='general'>
  <link rel=license href=https://github.com/dwhieb/Nisinoon.net/blob/main/LICENSE.md>

  <!-- open graph tags -->
  <meta property='og:description' content='{{ pkg.description }}'>
  <meta property='og:image' content='https://nisinoon.net/images/trillium.png'>
  <meta property='og:image:alt' content='a stylized trillium flower'>
  <meta property='og:image:height' content='500'>
  <meta property='og:image:type' content='image/png'>
  <meta property='og:image:width' content='500'>
  <meta property='og:site_name' content='Nisinoon'>
  <meta property='og:title' content='Nisinoon'>
  <meta property='og:type' content='website'>
  <meta property='og:url' content='https://nisinoon.net{{ page.url }}'>
  <meta name='twitter:card' content='summary'>

  <!-- favicon -->
  <link rel=icon href=/images/trillium.svg type=image/svg+xml>

  {# preload critical assets #}
  <link rel=preload href=/fonts/Libertinus-Serif-Regular.woff2 as font type=font/woff2 crossorigin>
  <link rel=preload href=/fonts/Libertinus-Serif-Italic.woff2 as font type=font/woff2 crossorigin>

  {# CSS for main layout #}
  {% set less %}
    {% include './index.less' %}
  {% endset %}

  <style>
    {{ less | css | safe }}
  </style>

</head>
<body>

  <nav class=nav>
    <ul>
      <li><a {{ 'aria-current=page' if page.url == '/' }} href='{{ "#" if page.url == '/' else "/" }}'>About</a></li>
      <li><a {{ 'aria-current=page' if page.url == '/grammar/' }} href='{{ "#" if page.url == '/grammar/' else "/grammar" }}'>Algonquian Word-Structure Basics</a></li>
      <li><a {{ 'aria-current=page' if page.url == '/research/' }} href='{{ "#" if page.url == '/research/' else "/research" }}'>Research</a></li>
      <li><a {{ 'aria-current=page' if page.url == '/bibliography/' }} href='{{ "#" if page.url == '/bibliography/' else "/bibliography" }}'>Bibliography</a></li>
    </ul>
  </nav>

  <main class='{{ class }} md'>
    {{ content | safe }}
  </main>

  <footer class='footer md'>

    <h2>Acknowledgment of Support</h2>

    <p>This material is based upon work supported by the University of Wisconsin-Madison Graduate School and the National Science Foundation DLI-DEL program under grant number BCS1953103. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>

    <p>Powered by <a href=https://www.11ty.dev/>Eleventy</a> and <a href=https://pages.github.com/>GitHub Pages</a>.</p>

    <p>Website maintained by <a href=https://danielhieber.info>Daniel W. Hieber</a>.</p>

  </footer>

</body>
</html>